<!-- <div class="container">
  Change Navbar!
  <nav class="navbar navbar-expand-lg mt-1">
    <div class="container-fluid">
      <a class="navbar-brand mb-0 h1" routerLink=""> Home </a>
    </div>
  </nav>
  <hr class="my-1" />
  <hr class="my-1" />
  <div>
      <router-outlet/>
  </div>
</div> -->

<nav class="navbar bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid justify-content-between d-flex">
    <div>
      <button routerLink="" class="btn btn-outline-info me-2" type="button">Dashboard</button>
      <button routerLink="add" class="btn btn-outline-info me-2" type="button">Add Expense</button>
      <button routerLink="expenses" class="btn btn-outline-info me-2" type="button">
        View Expenses
      </button>
    </div>
    <div class="d-flex gap-2 align-items-center">
      <span *ngIf="authService.currentUser()" class="text-light"
        >Logged in as {{ authService.currentUser()?.email }}</span
      >
      <button
        *ngIf="authService.currentUser()"
        type="button"
        class="btn btn-outline-danger"
        (click)="onLogout()"
      >
        Logout
      </button>
      <button
        *ngIf="!authService.currentUser()"
        routerLink="login"
        type="button"
        class="btn btn-outline-info"
      >
        Login
      </button>
    </div>
  </div>
</nav>

<router-outlet />
